{
  "id": "4c92a00a-1e08-e5cf-4e2d-edf812d8fe41",
  "name": "SID environment template",
  "values": [
    {
      "enabled": true,
      "key": "username",
      "value": "<put your username here>",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "password",
      "value": "<put your password here>",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "host",
      "value": "13302.sop.escaux.com",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "port",
      "value": "80",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "token",
      "value": "",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "prefix",
      "value": "/api",
      "type": "text"
    }
  ],
  "timestamp": 1490091107901,
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2017-03-21T10:12:13.732Z",
  "_postman_exported_using": "Postman/4.10.2"
}
