{
  "id": "353e38af-2acf-ead1-81a5-2266b72040a3",
  "name": "SID environment template",
  "values": [
    {
      "enabled": true,
      "key": "username",
      "value": "<your username here>",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "password",
      "value": "<your password here>",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "host",
      "value": "<your API host here>",
      "type": "text"
    }
  ],
  "timestamp": 1488193331959,
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2017-02-27T11:02:13.567Z",
  "_postman_exported_using": "Postman/4.10.2"
}